body{

    position:fixed;
    width:100%;
    background-size:cover;
    font-family: 'Coda', cursive;
    background: url(../images/bg.jpg) no-repeat 0px 0px;

}
body a{
    color: #fff;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
a:hover{
    text-decoration:none;
}

.main-bg{
    height: inherit;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.tabs{
    margin: 7em 0 3em;
    height: 50em;
}

div#horizontalTab{
    width: 70% !important;
    margin: 0 auto !important;
}

ul.resp-tabs-list{
    list-style: none;
    background: transparent;
    text-align: left;
    position: relative;
    left: -2.9em;
}

.resp-tab-item{
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    padding: .9em 3em;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: capitalize;
    background: #101010BB;
    border-radius: 15px;

}

.resp-tab-item:hover {
    text-shadow: none;
}

.resp-tab-active{
    background:#87cefaCC;
    text-shadow: none;
    color: #fff;
    border-radius: 15px;
}

.resp-tabs-container{
    border: none;
    float: none;
    width: 100%;
    clear: none;
}

.resp-tab-content{
    display: none;
    background: #101010BB;
    border-radius: 15px;

}

.facts{
    color: #fff;
    border: none;
    padding: 2em 1em 3em 3em;
    margin-bottom: 0.8em;
    height: 32em;
    overflow-y: auto;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.information{

}



.info_sec_1{
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    margin-bottom: 1em; 
    width: fit-content;
}

.new_input{
    font-size: 1.5em;
    padding-right: 3em;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

input.new_next{
    float: right;
    border: none;
    height: 2.5em;
    width: 5em;
    background:#87cefa99;
    font-size: 1em;
    border-radius: 6px;
    margin-right: 4em;
}

input.new_task{
    background-color: transparent;
    border-width: 0;
    border-bottom: solid #99999955;
    outline: none;
    width: 80%;

}

.new_info{
    overflow-y: scroll;
}
.teams{
    margin: auto;
    text-align: center;
}
.select_team{
    margin-bottom: 1em;
    margin-top: 1em;
    display: inline-block;
    border-radius: 10px;
}

button.select_team{
    background:#87cefaAA;
    border: none;
    color: #FFFFFF77;
    font-size: 4em;
}

.create_task{
    border: none;
    background-color: #87cefa99;
    float: right;

    font-size: 1.5em;
    margin-bottom: 1em;
    margin-right: 3em;
}
.sign .checkbox{
    height: 1em;
    width: 1em;
    float: right;
}


.sign{
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    width: 90%;
}

.sign_wrapper p{
    margin-left: 3em;
}

.info_member{

    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    width: 90%;
    display: block;
}

.member_resource{

    display: none;
}

.back{
    border:solid 1px #101010DD;
    width: 60px;
    height: 40px;
    background: #87cefaCC;
    margin-left: -25px;
    margin-top: -10px;
    padding-left: 0;
    border-radius:40px 10px 10px 40px;

}

.member_name{
    text-align: center;
    font-size: 1.5em;
}

.resource{
    margin-bottom: 2em;
    overflow: hidden;

    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    width: 100%;

    display: block;
}

.top_info{
    overflow-y: auto;

    margin-top: 10px;
    margin-bottom: 0;

}

.line{
    margin-top: 10px;

    min-width:980px
}

.task{
    font-size: 1em;
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
}

.time{
    font-size: 1em;
    margin-bottom: 0;
    margin-right: 15px;
    float: right;
}

.brief{
    float: left;
    text-indent: 2em;
}

.download{
    font-size: 1em;
    float: right;
    margin-bottom: 2px;
    margin-right: 15px;
}
.container{

}

.container .is_visible{
    visibility: visible;
    opacity: 1;
}

#allocate_task{
    display: none;
}
#allocate_task .is_selected{
    display: block;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F511;
}

::-webkit-scrollbar-thumb {

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(101, 98, 217,200)), color-stop(0.72, rgb(130, 124, 189)), color-stop(0.86, rgb(117, 123, 148)));
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F511;

}

/*简介*/
.intro {
    background-color: transparent;
    resize: none;
    width: 80%;
    outline: none;
    margin-left: 3em;
    border-color: #99999966;
    height: 5em;
}

/*提交任务的界面*/
.submit_task{
    float: left;
    text-align: center;
    width: 50%;
    font-size: 2em;

}

.submit_task input[type='radio']{
    height: 1em;
    width: 1em;
    margin-top: 0.5em;
}
.submit_blog{

    float: right;
    text-align: center;
    width: 50%;
    font-size: 2em;
}
.submit_blog input[type='checkbox']{
    height: 1em;
    width: 1em;
    margin-top: 0.5em;
}
.submit_all{
    float: right;
    margin-bottom: 0.3em;
    border: none;
    height: 2.5em;
    width: 5em;
    background:#87cefa99;
    font-size: 1em;
    border-radius: 6px;
}